body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2E1A47;
    color: white;
    background-image: url('imagens/360_F_529970103_kC9CGI1gKz1rYhAqVHTsAlfVhWIv2y6x.jpg');
    background-size: cover;
    background-position: center;
}

.square {
    background-color: rgba(46, 26, 71, 0.8); /* Fundo semi-transparente */
    border-radius: 15px; /* Cantos arredondados */
    padding: 20px;
    width: 300px;
    margin: 50px auto; /* Centralizar na tela */
    box-shadow: 0 0 15px rgba(199, 0, 218, 0.5);
}

.login h2 {
    text-align: center;
}

.listas {
    display: block;
    margin: 10px 0;
}

input[type="text"] {
    width: calc(100% - 20px); /* Largura do campo de entrada */
    padding: 10px;
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    background-color: #fff;
    color: #000;
}

button {
	color: #fff;
	position: relative;
	width: 100%;
	padding: 12px 20px;
	border-radius: 40px;
	font-size: 1.2em;
	background: linear-gradient(45deg,#5900ff,#a000d1);
	border-color: white;
	margin-top: 5px;
}

button:hover {
    background-color: #ad00d8; /* Cor ao passar o mouse */
}

#musicas-cadastradas {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para a lista */
    padding: 10px;
    border-radius: 5px;
}

#musicas-cadastradas div {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
	margin-bottom: 10px;

}

.excluir-musica {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.excluir-musica:hover {
    background-color: darkred; /* Cor ao passar o mouse */
}

a{
	color: white;
	text-decoration: none;
}

.logodosite{
	background: none;
	border: none;
	color: white;
	margin: 0 10px;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	height: 75px;
  }